---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/** 
 * Global style
 */
$base-font-family: "Montserrat", sans-serif; /* TODO: add google font */
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FFF;
$background-color: #fdfdfd;
$link-color:       #FFB848;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$serrated-border-height: 47px;


/** 
 * Includes
 */
@import "bourbon";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixins";
@import "base";
@import "layout";
@import "detail";


/** 
 * Post styles
 */

{% for post in site.posts %}

.post-style-{{ post.title | slugify }} {

  {% if post.background_image  %}
    background-image: url("../assets/images/posts/{{ post.background_image }}");
  {% endif %}

  {% if post.color %}
    background-color: {{ post.color }};
    @include border-top-serrated($serrated-border-height, {{ post.color }});
  {% endif %}
}

{% endfor %}