{% if page.next %}
{% assign next_post = page.next %}
{% else  %}
{% assign next_post = site.posts.last %}
{% endif %}

{% if page.previous %}
{% assign previous_post = page.previous %}
{% else  %}
{% assign previous_post = site.posts.first %}
{% endif %}


<div class="footer-detail {{ page.title | slugify | prepend: "post-style-" }}">

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>Check out my other projects</h2>
        <div class="post-buttons">
          <div class="previous-post-button">
            <a class="btn btn-default btn-accessory-left" href="{{ previous_post.url }}" role="button"><i class="fa fa-angle-left fa-lg"></i> {{ previous_post.title }}</a>
          </div>
          <div class="next-post-button">
            <a class="btn btn-default btn-accessory" href="{{ next_post.url }}" role="button">{{ next_post.title }} <i class="fa fa-angle-right fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</div>
