<footer class="site-footer">

  <div class="blog-section">
    <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <p>My uncensored, stream of conciousness blog:</p>
            <div class="blog-section-link">
              <a href="http://katiemacoy.com/">blog.katiemacoy.com</a>
            </div>
          </div>
          <div class="col-md-3"></div>
      </div>
    </div>
  </div>

  <div class="about-section" id="contact">

  <hr class="about-divider-1" />
  <hr class="about-divider-2" />
  <hr class="about-divider-3" />

    <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="about-image"><img src="{{ "assets/images/katie.png" | prepend: site.baseurl }}" /></div>
            <div class="about-name"><h1>Katie Macoy</h1></div>
            <div class="about-description">
              <p>I’m an Amsterdam based designer and illustrator. My interests are making compelling design and viewing strange things on the internet.</p>
              <p>Get in touch! <a href="mailto:hello@katiemacoy.com  " title="Mail">hello@katiemacoy.com  </a></p>
            </div>
            <div class="about-social">
              <ul class="list-inline">
                <li><a href="mailto:hello@katiemacoy.com" class="btn btn-social btn-mail" title="Mail"></a></li>
                <li><a href="http://nl.linkedin.com/in/katiemacoy" class="btn btn-social btn-linkedin" title="LinkedIn"></a></li>
                <li><a href="https://dribbble.com/punnettsquaresrule" class="btn btn-social btn-dribbble" title="Dribbble"></a></li>
                <li><a href="http://katiemacoy.com/" class="btn btn-social btn-tumblr" title="Tumblr"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3"></div>
      </div>
    </div>
  </div>

</footer>
