{% assign cover_image = 'page.cover_image | prepend: "/assets/images/posts/" | prepend: site.baseurl %}

<header class="header-detail {{ page.title | slugify | prepend: "post-style-" }}">

  <div class="container">

    <div class="nav">
      <div class="logo"><a href="{{ site.url }}">Katie Macoy</a></div>
      <div class="contact-button"><a href="{{ site.url }}#contact" class="btn btn-default">Contact</a></div>
    </div>

    <div class="header-content">
      <h1 class="post-title">{{ page.title }}</h1>
      <h2 class="post-subtitle">{{ page.subtitle }}</h2>
      <div class="post-cover-image">
        <img src="{{ cover_image }}" srcset="{{ cover_image | split: '.' | join: "@2x." }} 2x" />
      </div>
    </div>

  </div>

</header>
