<div class="content-section">

  <div class="container">
    <div class="post-header row">
      <div class="post-introduction col-md-7">
        <h3>Podcats: A passion project</h3>
        <p>
        Podcats is a passion project to help find better podcasts. Made together with Niels de Hoog, we sought to build a community forum where people could reccomend podcasts to eachother. Having found that we found out about most podcasts via friends, we simply sought to create a digital hub for the practice. 
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="post-meta col-md-4">
        <h3>What did I do?</h3>
        <p>UI, UX, Concept</p>
        <h3>What is it?</h3>
        <p>iOS app</p>
        <h3>How long did it take?</h3>
        <p>~ 1 year on nights and weekends</p>
      </div>
    </div>

    <div class="row post-content">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      {{ page.content | markdownify }}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</div>
