/**
 * Site header
 */

.site-header {
    background-image: url("../assets/images/header_pattern.png");
}

.header-circle {
    width: 308px;
    height: 308px;
    background-color: #E35050;
    border-radius: 50%;
    margin:52px auto;
    padding-top:13px;
}

.header-circle-inner {
    width: 282px;
    height: 282px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 44px;
}

.header-circle {
    h2, p {
        font-family: "Montserrat", sans-serif; /* TODO: Replace with google font */
        margin: 10px 0;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 19px;
        line-height: 180%;
    }

    em {
        font-family: "Lobster", sans-serif; /* TODO: Replace with google font */
        font-size: 39px;
        font-style: normal;
    }
}

hr.dash {
    border: 0 none;
    border-top: 1px dashed #FFF;
    background: none;
    height:0;
}

