/**
 * Header
 */

$header-padding: 52px;

.site-header {
    background-image: url("../assets/images/header_pattern.png");
    padding: $header-padding 0;
    padding-bottom: $serrated-border-height + $header-padding;
}

.header-circle {
    width: 308px;
    height: 308px;
    background-color: #E35050;
    border-radius: 50%;
    margin:0 auto;
    padding-top:13px;
}

.header-circle-inner {
    width: 282px;
    height: 282px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 44px;
}

.intro-text {
    h2, p {
        margin: 10px 0;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 19px;
        line-height: 180%;
    }

    em {
        font-family: "Lobster", cursive;
        font-size: 39px;
        font-style: normal;
    }
}

hr.dash {
    border: 0 none;
    border-top: 1px dashed #FFF;
    background: none;
    height:0;
}

/**
 * Post sections
 */

 $section-padding: 75px;

.post-section {
    padding: 75px 0;
    padding-bottom: $serrated-border-height + $section-padding;
    text-align: center;
}

.post-description {
    margin-bottom: 40px;
}

.btn-post {
    padding: 12px 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 11px;
    font-size: 1em;
    line-height: 1em;
    color: $text-color;
    margin-bottom: 70px;

    i {
        margin-left: 5px;
    }
}

.btn-post:hover {
    color: darken($text-color, 15%);
    border-color: darken($text-color, 15%);
    box-shadow: none;
}

/** 
 * Footer
 */

 .blog-section {
    padding: 100px 0;
    text-align: center;
    background-color: #9E3030;

    @include border-top-serrated($serrated-border-height, #9E3030);
 }

 .blog-section-link {
    a {
        font-size: 30px;
    }
 }

 .about-section {
    padding-top: 2px;
    text-align: center;
    background-color: #E35050;

    h1 {
        font-family: "Lobster", cursive;
        font-size: 40px;
    }

    .container {
        padding: 75px 0;
    }
 }

 .about-divider {
    background-color: #9E3030;
    border: none;
    margin-bottom: 2px;
 }

 .about-divider-1 {
    @extend .about-divider;
    height: 4px;
 }

 .about-divider-2 {
    @extend .about-divider;
    height: 3px;
 }

 .about-divider-3 {
    @extend .about-divider;
    height: 1px;
 }

 .about-image {
    margin-bottom: 25px;
 }

 .about-name {
    margin-bottom: 25px;
 }

 .about-description {
    margin-bottom: 55px;
 }

 .social-icons {
    text-align: center;
 }

 .btn-social {
    display: inline-block;
    background-color: $link-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
 }

 .btn-social:hover {
    background-color: darken($link-color, 15%);
    box-shadow: none;
}

.btn-mail {
    background-image: url("../assets/images/social_icons/mail.png");
}

.btn-linkedin {
    background-image: url("../assets/images/social_icons/linkedin.png");
}

.btn-dribbble {
   background-image: url("../assets/images/social_icons/dribbble.png");
}

.btn-tumblr {
   background-image: url("../assets/images/social_icons/tumblr.png");
}
