.post-podcats {
  background-color: #E35050;
  @include border-top-serrated($serrated-border-height, #E35050);
}

.post-illustrations {
  background-image: url("../assets/images/posts/illustrations_background.png");
  @include border-top-serrated($serrated-border-height, #60BA62);
}

.post-voyagequest {
  background-color: #202117;
  @include border-top-serrated($serrated-border-height, #202117);
}